#items {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 340px;
}

body {
    background-color: blue;
}

#items div {
    border: 7px solid black;
    background-color: rgba(0, 0, 0, 0.314);
    height: 75px;
    width: 75px;
    background-size: 70px;
    background-position: 40%;
    background-repeat: no-repeat;
}

#pointer {
    color: red;
    font-size: 100px;
    margin-top: 10px;
}

.hover {
    border: solid 9px rgb(255, 255, 255) !important;
}